<!DOCTYPE html>
<html lang="en">
<head>

	<header class="site-header">
		<div class="site-identity">
		 <img src="Assets/images/logo1.png" href="incidentList"  width="150" height="80" />
		  <h1>  Service now - Incident reporting Site    </h1>
		</div>  
	
	  </header>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  

  <!-- CSS Section  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
    integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
  <!-- custom css file -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- attaching fontawesome css file from local node module-->
  <link rel="stylesheet" href="/fontawesome-free/css/all.min.css" />


		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= title %></title>

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"></link>

		<link rel="stylesheet" src="Conent/app.css">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="preconnect" href="https://fonts.gstatic.com">

		<link rel='stylesheet' href='/Content/app.css' />

		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	</head>
	<body>
		<!-- setting navigationbar for the html page -->
		<nav class="navbar navbar-expand-lg navbar-custom bg-transparent">
		  <div class="container-fluid">
			<a style="text-decoration:none; color: #4056A1;" class="navbar-brand" href="/"></a>
	  
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span role="button"><i class="fa fa-bars" aria-hidden="true" style="color:#545149"></i></span>
			</button>
	  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav ml-auto">
				<li class="nav-item">
				  <!-- link will be highlighted on bases of title string -->
				  <% if (title=='Home') { %>
				  <a class="nav-link active" href="/"><i class="fas fa-md fa-home"></i> Home</a>
				  <% } else {  %>
				  <a class="nav-link" href="/"><i class="fas fa-md fa-home"></i> Home</a>
				  <% } %>
				</li>
			
				
				
				
				
				<% if(typeof displayName == 'string' && displayName) { %>
					<li class="navbar-text"><i class="fas fa-lg fa-user"></i> Welcome, <%= displayName %></li>
					<li class="nav-item"><a href="/logout" class="nav-link">
						<i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
					<% } else { %>
					<li class="nav-item"><a href="/login" class="nav-link">
						<i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
					<% } %>
				</li>
			  </ul>
			</div>
		  </div>
		</nav>