
<%- include partials/header.ejs %>


  <main class="container">
    <div class="jumbotron" >
      <h4 class="display-4">Team Project <%=title%> page</h4>
    </div>
  </main>

 
  <%- include partials/footer.ejs %>


 