<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include partials/header.ejs %>

	</head>
	<body>
	    <h1><%= title %></h1>
    	<p>Incident List</p>

		<!--Script Section-->
		<script src="/Scripts/app.js"></script>
	</body>
</html>




